/* General Styles */

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}


body {
	font-family: Montserrat, sans-serif;
	margin: 0;
	padding: 0; 
	color: #403D39;
}

h1, h2, h3 {
	margin: 0;
}

img.float-left {
	float: left;
	margin: 0 20px 20px 0;
}

/* Header Styles */

header {
	background-color: #6f9283;
	color: #F1F2EB;
	padding: 20px;
}

header h1 {
	font-size: 36px;
	margin: 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #F1F2EB;
	text-decoration: none;
}

/* About Section Styles */

#profile {
	width: 50%;
}

#about {
	background-color: #f2f2f2;
	padding: 50px;
	text-align: left;
}

#about h2 {
	font-size: 60px;
	margin-bottom: 50px;
	font-weight: lighter;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
  }

li:before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #E07A5F; /* Change color to your preference */
	border-radius: 20%; /* Make the bullet point circular */
	margin-right: .5em; /* Add spacing between bullet point and text */
  }
  
/* Work Section Styles */

#work {
	padding: 50px;
	text-align: center;
}

#resume h2 {
	font-size: 30px;
	margin-bottom: 30px;
}

.project {
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}

.project:last-child {
	margin-right: 0;
}

.project img {
	margin-bottom: 10px;
}

.project h3 {
	font-size: 20px;
	margin: 10px 0;
}

.project p {
	margin: 0;
}

.project a {
	display: block;
	margin-top: 10px;
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

/* Contact Section Styles */

#contact {
	background-color: #f2f2f2;
	padding: 50px;
	text-align: center;
}

#contact h2 {
	font-size: 30px;
	margin-bottom: 30px;
}

form {
	display: inline-block;
	text-align: left;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input, form textarea {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

form input[type="submit"] {
	background-color: #E07A5F;
	color: #F1F2EB;
	cursor: pointer;
}

hr {
	border-top: 1px solid #403D39; /* Set line color and thickness */
	margin: 10px 0%; /* Add margin to adjust line position */
  }

button {
	background-color: #3D405B; /* Set the background color */
	color: #F1F2EB; /* Set the text color */
	padding: 12px 14px; /* Add padding */
	border: none; /* Remove borders */
	border-radius: 5px; /* Add rounded corners */
	cursor: pointer; /* Set cursor style */
	font-size: 13px; /* Set font size */
}

/* Footer Styles */

footer {
	background-color: #6F9283;
	color: #F1F2EB;
	padding: 20px;
	text-align: center;
}
